footer

		section.about
			h2 About me

			p Hello World this is Albert a Spaniard based in London who is a Junior Web Developer that loves spend time coding the web applying all the tecniques that I find in Twitter.

			p My life changed when I read my first line of code, it was only HTML but since then is keeping me really busy. #[pre &lt;em&gt;I believe that everybody should know how to code.&lt;&#47;em&gt;]

		form(id="sayHello", method="post", action="/")
			h5 Say hello to Albert
			label(for='email') Email:
				input(required,id="email",name="email",type="email", placeholder="Email@domain.com")
			label(for='message') Message:
				textarea(required,id="message",name="message",placeholder="Message")
			button Send

