header
  nav
    .left-side
      h1 #{name}
      .mySelf
    .right-side
      h3 Web Developer
      ul
        each icon in icons
          li(class="icons") #[a(href=icon.url)#[img(src=icon.src, alt=icon.alt)]]
