@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
html {
  background-color: RGBA(42, 46, 50, 1); }

body {
  font-family: 'Oswald', sans-serif;
  background: url(../img/back.png); }

.pageWidth {
  width: 960px;
  margin: 0 auto; }

.message {
  position: relative;
  z-index: 1;
  padding: 12px;
  border-radius: 10px;
  color: white;
  width: 180px;
  text-align: center; }
  .message:after {
    content: '';
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: 309px;
    top: 7px; }

.info {
  background: RGBA(166, 204, 196, 1);
  top: 200px;
  left: 43%; }

.error {
  position: relative;
  z-index: 1;
  padding: 12px;
  border-radius: 10px;
  color: white;
  width: 180px;
  text-align: center;
  padding: 3px;
  left: 50px;
  background: RGBA(194, 46, 79, 1); }
  .error:after {
    content: '';
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: 309px;
    top: 7px; }
  .error:after {
    border-bottom: 15px solid RGB(194, 46, 79);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    left: 45%;
    top: -30px; }
  .error:nth-child(even) {
    margin-top: 20px; }

form *:invalid {
  border: 1px solid red; }

form *:valid:not(button) {
  border: 1px solid green; }

@-moz-document url-prefix() {
  .title:after {
    width: 250px !important;
    border-bottom: 185px solid transparent !important;
    border-top: 77px solid rgba(194, 46, 79, 0.9) !important;
    margin-left: 0 !important; }

  .next {
    background: inherit; } }
header {
  position: fixed;
  width: 100%;
  height: auto;
  background: RGBA(42, 46, 50, 1);
  top: 0;
  left: 0;
  border-bottom: 4px solid RGBA(231, 217, 116, 1);
  z-index: 1; }
  header nav {
    width: 960px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        display: inline-block;
        margin: 1px;
        width: 40px; }
    header nav h1, header nav h3 {
      color: RGBA(231, 217, 116, 1); }

.right-side {
  text-align: right; }

div[class*="side"] {
  flex-grow: 1; }

.mySelf {
  background-image: url(../img/me_sketch.jpg);
  background-size: 124px 140px;
  width: 110px;
  height: 110px;
  background-position: 236px -30px;
  border: 4px solid RGBA(231, 217, 116, 1);
  border-radius: 50%;
  position: absolute;
  left: 45%;
  top: 45px; }

:fullscreen a {
  transition: transform 1s; }

.content {
  padding-top: 240px;
  width: 100%;
  margin: auto;
  position: relative; }
  .content .circle {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    border: 13px solid RGBA(231, 217, 116, 1);
    display: inline-block;
    margin: 0 0 120px 30px;
    color: white;
    position: relative; }
    .content .circle .title h5 {
      text-align: center;
      font-size: 25px; }
    .content .circle .title:after {
      content: ' ';
      width: 245px;
      border-bottom: 130px solid transparent;
      position: absolute;
      margin-left: 2px;
      border-radius: 50%;
      margin-top: -121px;
      border-top: 90px solid RGBA(194, 46, 79, 0.9);
      z-index: -9; }
    .content .circle .techs {
      position: relative;
      top: 115px;
      text-align: center; }
      .content .circle .techs ul {
        list-style: none;
        position: relative;
        top: -40px;
        left: -31px; }
        .content .circle .techs ul li {
          display: inline-block;
          margin-left: 24px; }
      .content .circle .techs:after {
        content: ' ';
        width: 235px;
        border-bottom: 57px solid RGBA(194, 46, 79, 0.9);
        position: absolute;
        margin-left: -117px;
        border-radius: 50%;
        margin-top: -234px;
        border-top: 150px solid transparent;
        z-index: -9; }

.makers {
  background: url("../img/demo.png") no-repeat center;
  background-size: cover;
  filter: grayscale(0.9); }

.twitter {
  background: url("../img/twitter.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(0.9); }

.book {
  background: url("../img/lotto.jpeg") no-repeat center;
  background-size: cover;
  filter: grayscale(0.9); }

.ergos {
  background: url("../img/ergos.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(0.9); }

.zoo {
  background: url("../img/imdb.jpeg") no-repeat center;
  background-size: cover;
  filter: grayscale(0.9); }

.shopList {
  background: url("../img/list.png") no-repeat center;
  background-size: cover;
  filter: grayscale(0.9); }

.next {
  background: url("../img/next.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(0.9); }

.circle:hover {
  filter: grayscale(0); }

footer {
  width: 100%;
  background: RGBA(42, 46, 50, 1);
  border-top: 4px solid RGBA(231, 217, 116, 1);
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 14px; }
  footer .about {
    width: 50%;
    text-align: justify;
    color: white;
    margin: 3% 3% 0;
    line-height: 25px;
    letter-spacing: 2px;
    float: left; }
    footer .about h2 {
      color: RGBA(231, 217, 116, 1); }
    footer .about pre {
      white-space: pre-wrap; }
  footer form {
    float: right;
    position: relative;
    width: 20%;
    right: 6%;
    top: 20px;
    margin-bottom: 30px; }
    footer form label, footer form h5 {
      color: white; }
    footer form input, footer form textarea, footer form button {
      color: black;
      display: block;
      width: 80%;
      margin: 15px auto; }
    footer form button {
      height: 28px; }
      footer form button:hover {
        background: RGBA(231, 217, 116, 1);
        border: 1px solid RGBA(231, 217, 116, 1); }

.makersTooltip::after {
  visibility: hidden;
  content: "jQuery plugin that modifies default browser styles for the errors found in input fields when submitting a form.";
  transition: visibility 0s ease-in 0.5s;
  position: absolute;
  top: 250px;
  background-color: RGBA(194, 46, 79, 1);
  font-size: 20px;
  text-align: justify;
  padding: 7px;
  border-radius: 11px;
  display: block;
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px; }

.twitterTooltip::after {
  visibility: hidden;
  content: "Clone of Twitter.com feed page as close as possible. You can even post a Tweet!!";
  transition: visibility 0s ease-in 0.5s;
  position: absolute;
  top: 250px;
  background-color: RGBA(194, 46, 79, 1);
  font-size: 20px;
  text-align: justify;
  padding: 7px;
  border-radius: 11px;
  display: block;
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px; }

.bookTooltip::after {
  visibility: hidden;
  content: "Web scrapper that search for lottery results and stores it in a mongo db..";
  transition: visibility 0s ease-in 0.5s;
  position: absolute;
  top: 250px;
  background-color: RGBA(194, 46, 79, 1);
  font-size: 20px;
  text-align: justify;
  padding: 7px;
  border-radius: 11px;
  display: block;
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px; }

.ergosTooltip::after {
  visibility: hidden;
  content: "Elderly home in Barcelona, web design and coding, web hosting, server maintenance.";
  transition: visibility 0s ease-in 0.5s;
  position: absolute;
  top: 250px;
  background-color: RGBA(194, 46, 79, 1);
  font-size: 20px;
  text-align: justify;
  padding: 7px;
  border-radius: 11px;
  display: block;
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px; }

.zooTooltip::after {
  visibility: hidden;
  content: "App as a POC used as an example for a post on my blog to explain the MEAN stack";
  transition: visibility 0s ease-in 0.5s;
  position: absolute;
  top: 250px;
  background-color: RGBA(194, 46, 79, 1);
  font-size: 20px;
  text-align: justify;
  padding: 7px;
  border-radius: 11px;
  display: block;
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px; }

.shopListTooltip::after {
  visibility: hidden;
  content: "Shared Shopping List! an app that will allow you to share a list.";
  transition: visibility 0s ease-in 0.5s;
  position: absolute;
  top: 250px;
  background-color: RGBA(194, 46, 79, 1);
  font-size: 20px;
  text-align: justify;
  padding: 7px;
  border-radius: 11px;
  display: block;
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px; }

.nextTooltip::after {
  visibility: hidden;
  content: "You can see some other projects that I have done @ Github";
  transition: visibility 0s ease-in 0.5s;
  position: absolute;
  top: 250px;
  background-color: RGBA(194, 46, 79, 1);
  font-size: 20px;
  text-align: justify;
  padding: 7px;
  border-radius: 11px;
  display: block;
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px; }

.circle:hover .makersTooltip::after,
.circle:hover .twitterTooltip::after,
.circle:hover .bookTooltip::after,
.circle:hover .ergosTooltip::after,
.circle:hover .zooTooltip::after,
.circle:hover .shopListTooltip::after,
.circle:hover .nextTooltip::after {
  visibility: visible; }

.hoverInfo {
  position: absolute;
  top: -66px;
  left: 89px;
  box-shadow: 0 0 2px;
  padding: 5px;
  background: white;
  color: RGBA(194, 46, 79, 1); }

.hoverInfo:after {
  content: '';
  position: absolute;
  left: 18px;
  top: 34px;
  border-top: 15px solid RGBA(194, 46, 79, 1);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent; }

@media screen and (max-width: 960px) {
  header div[class*="side"] {
    text-align: center; }
  header nav {
    width: 630px;
    padding: 0 15px; }
    header nav h3 {
      display: none; }
    header nav ul {
      top: 11px;
      left: 0; }

  .pageWidth {
    width: 630px; }

  footer {
    font-size: 16px; }
    footer .about {
      width: 90%;
      float: none;
      margin: auto; }
    footer form {
      width: 75%;
      right: 15%; }

  .message {
    position: relative;
    left: 0;
    padding: 4px; }

  .info {
    left: 43%; }

  .error::after {
    display: none; } }
@media screen and (max-width: 630px) {
  header nav {
    width: 100%; }
    header nav h1 {
      display: none; }
    header nav ul {
      text-align: center; }

  .mySelf {
    top: 30px;
    left: 20px;
    width: 80px;
    height: 80px;
    background-size: 135px 110px;
    background-position: 231px -28px; }

  .pageWidth {
    width: 100%; }
    .pageWidth .content {
      padding-top: 70px; }
      .pageWidth .content .circle {
        width: 300px;
        height: 300px;
        margin: 60px 0px 70px 22%; }
        .pageWidth .content .circle .title::after {
          width: 283px;
          border-bottom: 150px solid transparent;
          margin-left: 8px;
          border-top: 80px solid RGBA(194, 46, 79, 1); }
        .pageWidth .content .circle .techs ul {
          top: 0; }
        .pageWidth .content .circle .techs::after {
          width: 285px;
          border-bottom: 87px solid RGBA(194, 46, 79, 1);
          margin-left: -142px;
          margin-top: -213px; }

  .info {
    left: 27%; }

  .hoverInfo {
    left: 115px; }

  @-moz-document url-prefix() {
    .title::after {
      width: 296px !important;
      border-top: 90px solid rgba(194, 46, 79, 0.9) !important; } } }
@media screen and (max-width: 450px) {
  .pageWidth .content .circle {
    margin: 70px 0px 70px 8%; }

  footer form {
    width: 100%;
    right: 0; }

  @-moz-document url-prefix() {
    html {
      width: 390px; }

    header nav ul {
      top: 12px;
      text-align: none;
      left: -15px; } } }
