@import '../../__scss/colors.scss';
@import '../../__scss/animations.scss';

.portfolio__footer {
  border-top: 3px dashed $pink;
  &--social {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
  }
  &--link {
    width: calc(100% / 5);
    display: inline-flex;
    &:hover .portfolio__footer--icon{
      fill: $white;
    }
  }
  &--icon {
    fill: $goldenBtn;
    align-self: center;
    margin: 0 auto;
    border: 1px solid transparent;    
    padding: 15px;
  }
  &--copy {
    text-align: center;
    word-spacing: 5px;
    margin-bottom: 10px;
    span {
      font: 1.8rem 'Monoton';
      display: inline-block;
      transform: rotate(270deg);
      color: $pink;
      animation: redNeon 3.5s ease-out infinite alternate;
    }
  }
}