@import '../../__scss/colors.scss';
@import '../../__scss/animations.scss';
@import '../../__scss/mixins.scss';

.portfolio__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  &--tile {
    flex-basis: 50%;
    height: 300px;
    
    a {
      color: $white;				
      text-decoration: none;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      height: 300px;
      position: absolute;
      border: 1px solid $purple;
    }
    &-bg {
      height: 300px;
      display: block;
    }
    &-title {
      font-size: 4rem;
      font-weight: bolder;
      opacity: 1;
      transform: translateY(100px);
      transition: all 1s ease;
      visibility: visible;
    }
    &-text {
      align-self: center;
      font-size: 1.2rem;
      opacity: 0;
      padding: 13px;
      position: absolute;
      top: 20px;
      transition: all 1s ease;
      visibility: hidden;
    }
    &-image {
      align-self: center;
      height: 150px;
      object-fit: contain;
      opacity: 0;        
      transition: visibility 1s ease;
      visibility: hidden;
      width: 150px;
    }
    &-techs {
      align-self: center;
      bottom: 10px;
      display: flex;
      opacity: 0;        
      position: absolute;
      transition: visibility 1s ease;        
      visibility: hidden;             
      .tech {
        border-top: 5px solid;
        border-left: 5px solid;
        box-shadow: 1px 0 1px;
        width: 50px;
        padding: 5px;
        text-align: center;
        margin-left: 10px;
        position: relative;
        &:before {
          content: '\005C';
          color: $black;
          font-size: 8px;
          left: -5px;
          position: absolute;
          top: -7px;
          transform: rotate(-18deg);
        }
      }
    }
  }
  
  .tile {
    &-pretty {
      background: $goldenBtn;
    }
    &-twitter {
      background: $orange;
    }
    &-lotto {
      background: $redBtn;
    }
    &-resi {
      background: $blue;
    }
    &-imdb {
      background: $greenBtn;
    }
  }
}