@import '../../__scss/colors.scss';

.portfolio {
	// Global styles
	background: $purple;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
  min-width: 380px;

	.wrapper {
    margin: 0 auto;
		padding: 0 20px;
	}
	.section {
		margin: 25px auto;
	}
}

@media screen and (min-width: 600px) {
  .portfolio {
    .wrapper {
      padding: 0;
    }
  }
}