@import '../../__scss/colors.scss';

.portfolio {
	// Global styles
	background: $purple;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;

	.wrapper {
		padding: 0 45px;
	}
	.section {
		margin: 40px 0;
	}
}