@import '../../__scss/colors.scss';

.portfolio {
	// Global styles
	background: $purple;
	box-shadow: -2px 0 5px $pink, 2px 0 5px $pink;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;

	.wrapper {
		padding: 0 45px;
	}
	.section {
		margin: 40px 0;
	}
}