@import '../../__scss/colors.scss';
@import '../../__scss/animations.scss';
@import '../../__scss/mixins.scss';

.portfolio__header {
		&--nav {
			background: $purple;
      display: flex;
      flex-wrap: wrap;
			justify-content: space-between;
			position: fixed;
			width: 1200px;
			z-index: 999;
			
			&-item {
			  border-bottom: 1px solid rgba($pink, 0.3);        
				text-align: center;
				width: 25%;
				&:hover {
					background: rgba($black,.2);
					border-bottom: 3px dashed rgba($pink, 0.6);
				}
			}
			
			&-link {
				color: $blue;
				display: inline-flex;
				font-size: 1.5rem;
				text-decoration: none;
				text-transform: capitalize;
		    padding: 20px 40%;			
				&:hover {
					animation: whiteNeon 5s linear infinite;
				}
			}
		}

		&--title {
			background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
			border: 3px solid silver;
    	border-radius: 10px;
			padding: 20px;
			position: relative;
			text-align: center;
    	margin: 100px auto 20px auto;
			width: 670px;
			
			&-name {
				font: 3rem 'Monoton', 'Bubbler One', sans-serif;
				.group-0 {
					&:after {
						@include buildScrew();
						@include topRigt();
						transform: rotate(73deg);
					}
					&:before {
						@include buildScrew();
						@include bottomLeft();
						transform: rotate(180deg);
					}
				}

				.group-1 {
					margin-left: 10px;
					&:after {
						@include buildScrew();
						@include topLeft();
						transform: rotate(73deg);
					}
					&:before {
						@include buildScrew();
						@include bottomRight();
						transform: rotate(270deg);
					}
				}
				
				*[class*="char"] {
					animation: redNeon 3.5s ease-out infinite alternate;
					&:nth-child(even) {
						position: relative;
						top: 10px;
					}
				}
				
				*[class*="char"]:not(.char-0) {
					color: #FF0008;					
				}
				.char-0 {
					color: $white;
				}
			}
			
			&-spec {
				color: $blue;	
				font-family: 'Fira mono', monospace;
				font-size: 1.5rem;
				margin-top: 15px;
				
				*[class*="group"]:not(.group-2) .char-0 {
					font-family: 'Monoton';
				}
				
				*[class*="group"] {
					margin-right: 10px;
				}
			}
		}
	}