@import '../../__scss/colors.scss';
@import '../../__scss/animations.scss';
@import '../../__scss/mixins.scss';

.portfolio__header {
		&--nav {
			background: $purple;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
			position: fixed;
			z-index: 999;
			width: 100%;

      .menu {
        height: 60px;
        .button {
          align-self: center;
          background: transparent;
          border: 0;
          display: block;
          font-size: 2rem;
          height: 60px;
          letter-spacing: 5px;
          padding: 0;
          position: absolute;
          right: 20px;
        }
        &-idle {
          color: $white;
          outline-color: $white;
          transform: rotate(0deg);
          transition: visibility opacity 2s;          
        }
        &-clicked {
          color: $goldenBtn;
          outline-color: $goldenBtn;
          transform: rotate(90deg);
          transition: visibility opacity 2s;
        }
        &-hidden {
          display: none;
          transition: visibility opacity 2s;          
        }
        &-block {
          display: block;
          transition: visibility opacity 2s;          
        }
      }
			
			&-item {
        display: flex;
				border-bottom: 3px dashed rgba($pink, 0.6);
				text-align: center;
				&:hover {
					background: rgba($black,.2);
				}
			}
			
			&-link {
				color: $goldenBtn;
				display: inline-flex;
				font-size: 1.5rem;
				text-decoration: none;
				text-transform: capitalize;
		    padding: 20px 40%;			
				animation: whiteNeon 5s linear infinite;
				&:hover {
				}
			}
		}

		&--title {
      &-wrapper {
        margin: 110px 20px 55px;
      }
			background: repeating-linear-gradient(45deg, rgba($stripes, .2) 0%, rgba($stripes, .2) 10%, rgba($black,.3) 0%, rgba($black,.3) 50%) 0 / 15px 15px;
			border: 4px solid $silver;
    	border-radius: 10px;
			padding: 10px;
			position: relative;
			text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
			
			&-name {
				font: 2.5rem 'Monoton', 'Bubbler One', sans-serif;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
				.group-0 {
					&:after {
						@include buildScrew();
						@include topRigt();
						transform: rotate(73deg);
					}
					&:before {
						@include buildScrew();
						@include bottomLeft();
						transform: rotate(180deg);
					}
				}

				.group-1 {
					margin-left: 10px;
					&:after {
						@include buildScrew();
						@include topLeft();
						transform: rotate(73deg);
					}
					&:before {
						@include buildScrew();
						@include bottomRight();
						transform: rotate(270deg);
					}
				}
				
				*[class*="char"] {
					animation: redNeon 3.5s ease-out infinite alternate;
					&:nth-child(even) {
						position: relative;
						top: 10px;
					}
				}
				
				*[class*="char"]:not(.char-0) {
					color: rgba($pink,.8);	
				}
				.char-0 {
					color: $white;
				}
			}
			
			&-spec {
				color: $goldenBtn;	
				font-family: 'Fira mono', monospace;
				font-size: 1.5rem;
				margin-top: 15px;
				
				*[class*="group"]:not(.group-2) .char-0 {
					font-family: 'Monoton';
				}
				
				*[class*="group"] {
					margin: 0 5px;
				}
        .group-2,
        .group-3 {
					display: none;
				}
			}
		}
	}

@media screen and (min-width: 600px) {
  .portfolio__header{
    &--title {
      padding: 20px;
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
      &-spec {
        margin: 15px;
        .group-2,
        .group-3 {
          display: inline;
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .portfolio__header{
    &--nav {
      flex-direction: row;
      flex-wrap: nowrap;
      .menu {
        display: none;
        &-hidden {
          display: block;
          width: 25%;
        }
      }
      &-link {
				animation: none;
				&:hover {
			  	animation: whiteNeon 5s linear infinite;
          background: rgba(0,0,0,.6);
				}
			}
    }
  }
}