// Styles for content section

.content{
	padding-top: 190px;
	width: 100%;
	margin: auto;
	position: relative;

	.circle{
		width: 250px;
		height: 250px;
		box-shadow: 0 0 5px black;
		border-radius: 50%;
		border: 13px solid $yellow_color;
		display: inline-block;
		margin: 0 0 120px 30px;
		color: white;

		.title{

			h5{
				text-align: center;
				font-size: 25px;
			}

			@include titleAfter()
		}

		.techs{

			position: relative;
			top: 115px;
			text-align: center;

			ul{
				list-style: none;
				position: relative;
				top: -40px;
				left: -31px;

				li{
					display: inline-block;
					margin-left: 24px;
				}
			}
      @include techAfter();
		}
	}
}


.makers{
	@include hoverCircle('../img/makers.jpg');
}

.twitter{
	@include hoverCircle('../img/twitter.jpg');
}

.book{
	@include hoverCircle('../img/book.jpg');
}

.ergos{
	@include hoverCircle('../img/ergos.jpg');
}

.zoo{
	@include hoverCircle('../img/zoo.jpg');
}

.shopList{
	@include hoverCircle('../img/list.png');
}

.next{
	@include hoverCircle('../img/next.jpg');
}

.circle:hover{
	filter: grayscale(0)
}
