// // Media queries rules
@media screen and (max-width: 960px){

	header{
    div[class*="side"] {
      text-align: center;
    }
		nav{
      width: 630px;
      padding: 0 15px;
			h3{
				display: none;
			}
			ul{
				top: 11px;
				left: 0;
			}
		}
	}

	.pageWidth{
		width: 630px;
	}

	footer{
		font-size: 16px;

		.about{
			width: 90%;
			float: none;
			margin: auto;
		}

		form{
			width: 75%;
			right: 15%;
		}
	}

	.message{
		position: relative;
		left: 0;
		padding: 4px;
	}

	.info{
		left: 43%
	}

	.error::after{
		display: none;
	}
}

@media screen and (max-width: 630px){

	header{
		nav{
			width: 100%;
			h1{
				display: none;
			}
			ul{
				text-align: center;
			}
		}
	}

	.mySelf{
		top: 30px;
		left: 20px;
    width: 80px;
    height: 80px;
    background-size: 135px 110px;
    background-position: 231px -28px;
	}

	.pageWidth{
		width: 100%;

		.content{
      padding-top: 70px;      
			.circle{
				width: 300px;
				height: 300px;
				margin: 60px 0px 70px 22%;

				.title::after{
					width: 283px;
					border-bottom: 150px solid transparent;
					margin-left: 8px;
					border-top: 80px solid $red_color;
				}

				.techs{
					ul{
						top: 0;
					}
					&::after{
						width: 285px;
						border-bottom: 87px solid $red_color;
						margin-left: -142px;
						margin-top: -213px;
					}
				}

			}
		}
	}

	.info{
		left: 27%
	}


	.hoverInfo{
		left:115px;
	}
	
	@-moz-document url-prefix() {
		.title::after {
			width: 296px !important;
			border-top: 90px solid rgba(194, 46, 79, 0.9) !important;
		}
	}

}


@media screen and (max-width: 450px){

	// .mySelf{
	// 	left: 38%;
	// }

	.pageWidth{

		.content{
			.circle{
				margin: 70px 0px 70px 8%;
			}
		}
	}

	footer{
		form{
			width: 100%;
			right: 0;
		}
	}

	@-moz-document url-prefix() {

		html{
		width: 390px;
		}

		header{
			nav{
				ul{
					top: 12px;
					text-align: none;
					left: -15px;
				}
			}
		}
	}
}









